<component name="ArtifactManager">
  <artifact type="war" name="springDataSolr:war">
    <output-path>$PROJECT_DIR$/springDataSolr/target</output-path>
    <root id="archive" name="springDataSolr.war">
      <element id="artifact" artifact-name="springDataSolr:war exploded" />
    </root>
  </artifact>
</component>